{{ partial src="sections/header_small" title="Ope! 404" }}

<section class="py-12 bg-white dark:bg-gray-800">
    <div class="px-8 mx-auto md:px-0">
        <div class="{{ prose }} {{ prose:dark }} mx-auto">
            <h2>Y'all we are SO sorry.</h2>
            <p>Our site can't find this page for you (404 error). In the meantime we'd like to get you the information you're looking for.</p>
            <p>Send us a quick message from the chat in the bottom right corner of this page (or any page of our site) and let us know how we can help you. You can also email use at <a href="mailto:hello@sgdinstitute.org">hello@sgdinstitute.org</a></p>
        </div>
    </div>
</section>
