<section class="py-8 {{ bg_color }}">
    <div class="container grid grid-cols-5 gap-4 mx-auto">
        <span class="text-4xl text-center text-black">382 <span class="block text-sm text-gray-600 uppercase">days</span></span>
        <span class="text-4xl text-center text-black">14 <span class="block text-sm text-gray-600 uppercase">hours</span></span>
        <span class="text-4xl text-center text-black">57 <span class="block text-sm text-gray-600 uppercase">minutes</span></span>
        <div class="flex items-center h-full col-span-2">
            <span class="text-4xl text-center text-black">{{ hashtag }}</span>
        </div>
    </div>
</section>
