<section class="py-12 my-12 bg-gray-300 dark:bg-gray-700">
    <div class="container grid grid-cols-1 md:grid-cols-{{ num_per_row ?? limit }} gap-12 mx-auto">
        {{ collection:articles limit="{limit}" paginate="{pagination ? limit : false}" as="posts"  }}
            {{ if no_results }}
                <p>Aww, there are no results.</p>
            {{ /if }}

            {{ posts }}
                {{ partial src="partials/post" }}
            {{ /posts }}

            {{ paginate }}
                {{ partial src="partials/pagination" }}
            {{ /paginate }}
        {{ /collection:articles }}
    </div>
</section>
