<section class="{{ bg_color }} py-8">
    <div class="container mx-auto">
        <div class="grid {{ grid }}">
            <div class="{{ grid:left }} {{ center_columns ? 'flex items-center' : '' }}">
                {{ partial src="partials/columns" column="{left_column}" }}
            </div>
            <div class="{{ grid:right }} {{ center_columns ? 'flex items-center' : '' }}">
                {{ partial src="partials/columns" column="{right_column}" }}
            </div>
        </div>
    </div>
</section>
