<div class="mt-6 mb-8 md:-mx-12">
    <div class="aspect-w-16 aspect-h-9">
        {{ if video | is_embeddable }}
            <!-- Youtube and Vimeo -->
            <iframe src="{{ video | embed_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ else }}
            <!-- Other HTML5 video types -->
            <video src="{{ video | embed_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
        {{ /if }}
    </div>
</div>
