<footer>
    <div class="py-8 bg-green-500">
        <div class="container grid grid-cols-5 mx-auto">
            <div class="col-span-2 row-span-2">
                <span class="block mb-3 text-4xl text-white">MBLGTACC</span>
                <p class="mb-6 text-xs text-gray-100">The Midwest Bisexual Lesbian Gay Transgender Asexual College Conference (MBLGTACC) is America's largest and oldest continuously-running conference for queer and trans+ college students.</p>

                <div class="grid grid-cols-2 gap-6">
                    <a href="#" class="items-center block px-6 py-3 text-base font-medium leading-6 text-center text-white uppercase transition duration-150 ease-in-out bg-transparent border-2 border-white hover:bg-white hover:text-green-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700">Register Now</a>
                    <div class="flex items-center h-full text-sm text-gray-100">
                        <div>
                            <a href="https://apps.sgdinstitute.org/register" class="block font-bold text-white hover:underline">Create an account ></a>
                            Already have an account? <a href="https://apps.sgdinstitute.org/login" class="font-bold text-white hover:underline">Login ></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="py-6 bg-gray-800">
        <div class="container grid grid-cols-4 mx-auto">
            <div class="text-gray-500">
                INSTITUTE LOGO
            </div>
            <div class="col-span-3">
                <p class="text-sm text-gray-500">"MBLGTACC", "Midwest Bisexual Lesbian Gay Transgender Asexual College Conference," "Midwest Bisexual Lesbian Gay Transgender Ally College Conference," and the MBLGTACC logo are servicemarks of the Midwest Institute for Sexuality and Gender Diversity, a non-profit 501(c)(3) organization. Our Tax ID is: 81-1788851. <a href="#">Legal & Privacy</a> | <a href="#">Press/Media</a> | <a href="https://sgdinstitute.org">SGD Institute</a></p>
            </div>
        </div>
    </div>
</footer>
